*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    

}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 50%;
    font-family: 'rubik 80s fade', serif;
    align-items: center;
    /* background-color: aqua; */
}

#contact-bttn{
    width: 15%;
    cursor: pointer;
    
}
#menu-large{
    font-size: x-large;
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
    width: 90%;
    margin: auto;
    font-size: 60%;

    .nav-tabs{
        border-bottom: 1px solid transparent;
    }
    .nav-link{
        padding: 5px;
        
        
    }
}
#nav-home-tab{
    background-color: var(--color-blue-gray);
    color: white;
    border-bottom: 0 solid transparent;
    
}
#nav-home{
display: flex;
justify-content: center;
/* background-color: blueviolet; */
width: 98%;
height: 100%;
/* margin: auto; */
/* margin-top: 0; */
align-items: start;
position: absolute;
bottom:0;
left: 2%;
border-radius: 15px;
border: 2px solid var(--color-blue-gray-dark);
box-shadow: -1px -1px 6px rgb(54, 54, 54);

.portada{
    /* margin: auto; */
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10%;    
    width: 70%;
    height: 60%;
    h1{
        font-size: 3rem;
        text-decoration: underline;
        font-family: "Black Ops One", serif;
        font-weight: 500;
    }
    h2{
        font-size: 2rem;
        font-family: "Oooh Baby", cursive;
        font-weight: 900;
        /* padding-left: 10%; */
        color: var(--hand-blue);
        transform: rotateZ(-3deg);
    }
}
}

#nav-profile-tab{
    background-color: var(--color-secundario);
    color: black;
    border-bottom: 0 solid transparent;
}

#nav-profile{

    background: var(--grad-second);
    display: grid;
    justify-content: center;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 4%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 3% 1% 1% 4%;
    overflow: hidden;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "a a a a b b"
    "a a a a c c"
    "a a a a d d"
    "a a a a e e"
    "f f f f f f"
    "f f f f f f";
    /* gap: 1px; */
    .photo{
        grid-area: a;
        border: 3px double black;
        width: 90%;
        height: 90%;
        border-radius: 15px;
        background: var(--grad-second-x);
        position: relative;

        #photo-clip img{
            width: auto;
            height: 25%;
            z-index: 44;
            position: absolute;
            top: -6%;
            left: 45%;
            
            
        }
        #img1 img{
            width: auto;
            height: 80%;
            z-index: 43;
            position: absolute;
            top: 3%;
            left: 6%;
            border-radius: 20px;
            transform: rotateZ(2deg);
        }
        #img2 img{
            width: auto;
            height: 80%;
            z-index: 42;
            position: absolute;
            top: 3%;
            left: 14%;
            border-radius: 20px;
            transform: rotateZ(-2deg);
            cursor: pointer;
        }        
        #img3 img{
            width: auto;
            height: 80%;
            z-index: 41;
            position: absolute;
            top:8%;
            left:6%;
            border-radius: 20px;
            transform: rotateZ(6deg);
            cursor: pointer;
        }
        #img2 img:hover{
            border: 2px solid rgba(255, 234, 47, 0.541);
        }
        #img2 img:active{
            z-index: 45;
        }
        #img3 img:hover{
            border: 2px solid rgba(255, 234, 47, 0.541);
        }
        #img3 img:active{
            z-index: 46;
        }
    }
    .fullname{
        grid-area: b;
    }
    .ocupation{
        grid-area: c;
    }
    .age{
        grid-area: d;
    }
    .residence{
        grid-area: e;
    }
    .description{
        grid-area: f;
    }
    .subtitle{
        font-family: "Black Ops One", serif;
        font-size: 1rem;
        text-decoration: underline;
        text-overflow: ellipsis;
    }
    .seconddata{
        font-family: "Oooh Baby", serif;
        font-size: 0.9rem;
        font-weight: 900;
        color: var(--hand-blue);
        /* overflow: hidden; */
        text-overflow: ellipsis;
        .great-club{
            animation: glow-blue 4s infinite;
        }
    }

}

#nav-apts-tab{
    background-color: var(--color-terciario);
    color: black;
    border-bottom: 0 solid transparent;
}

#nav-apts{

    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* overflow: hidden; */
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 6%;    
    border-radius: 15px;
    padding-inline: 6px;    
}
article {
    box-sizing: border-box;
    /* margin-top: 5px; */
}
.jcas h4, .ots h4{
    font-family: "Black Ops One", serif;
    font-size: 1rem;
    text-decoration: underline;
    text-overflow: ellipsis;

}
.container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    justify-content: center;
    height: 40%;
    
    

    details {
        border: none;
        padding: 0;
        
    }    
    summary {
        cursor: pointer;
        outline: none;
        background: linear-gradient(to bottom, #d1dac9, #97a093);
        border: 1px solid #6f8a7a;
        border-radius: 10px;
        height: 45px;
        font-size: 0.8rem;
        transition: all 0.3s ease;
        list-style: none;
        text-align: center;
        margin-block: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 2px 3px black;
        
    }    
    summary:hover {
        background: linear-gradient(to bottom, #d0d0d0, #909090);
    }    
    label {
        display: block;
        padding: 0;
        margin-block: -10px;
        font-size: 0.6rem;
        text-align: center;
        
    }
    label:hover{
        color:rgb(3, 87, 28);
        transform: scale(2);
        background-color: rgba(240, 248, 255, 0.37);
        overflow: visible;
    }
}
.container2{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    
    
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 3px double rgb(3, 87, 28);
    background-color: #e5ebe2;
    height: 50px;
    box-shadow: 1px 2px 4px rgb(0, 8, 2);

    span{
        font-size: x-small;
    }

    
}
.icon:active{
    background-color: rgb(161, 250, 126);
    box-shadow: 0 0 0;
    transform: translateX(2px);
    transform: translateY(1px);

}



main{
    width: 90%;
    /* padding-inline: 15px; */
    background: var(--blue-gray);
    margin: auto;
    height: 75%;
    border-radius: 15px;
    /* padding: 15px; */
    position: relative;
}
footer{

    width: 100%;
    height: 10%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 60%;
    

}